# CLOCKS
NET "CLK"    LOC = "B17"| IOSTANDARD = PCI66_3;
NET "LED"    LOC = "F16"| IOSTANDARD = PCI66_3;

NET "FD<0>"  LOC = "AD13"| IOSTANDARD = PCI66_3;
NET "FD<1>"  LOC = "AC13"| IOSTANDARD = PCI66_3;
NET "FD<2>"  LOC = "AC15"| IOSTANDARD = PCI66_3;
NET "FD<3>"  LOC = "AC16"| IOSTANDARD = PCI66_3;
NET "FD<4>"  LOC = "AA11"| IOSTANDARD = PCI66_3;
NET "FD<5>"  LOC = "AA12"| IOSTANDARD = PCI66_3;
NET "FD<6>"  LOC = "AD14"| IOSTANDARD = PCI66_3;
NET "FD<7>"  LOC = "AC14"| IOSTANDARD = PCI66_3;

NET "FD<8>"  LOC = "AA13"| IOSTANDARD = PCI66_3;
NET "FD<9>"  LOC = "AB13"| IOSTANDARD = PCI66_3;
NET "FD<10>" LOC = "AA15"| IOSTANDARD = PCI66_3;
NET "FD<11>" LOC = "AA16"| IOSTANDARD = PCI66_3;
NET "FD<12>" LOC = "AC11"| IOSTANDARD = PCI66_3;
NET "FD<13>" LOC = "AC12"| IOSTANDARD = PCI66_3;
NET "FD<14>" LOC = "AB14"| IOSTANDARD = PCI66_3;
NET "FD<15>" LOC = "AA14"| IOSTANDARD = PCI66_3;

NET "FCLK"   LOC = "A10"| IOSTANDARD = PCI66_3;
NET "SLWR"   LOC = "F13"| IOSTANDARD = PCI66_3;
NET "SLRD"   LOC = "D12"| IOSTANDARD = PCI66_3;

NET "PA2"    LOC = "D13"| IOSTANDARD = PCI66_3;
NET "PA4"    LOC = "C11"| IOSTANDARD = PCI66_3;
NET "PA5"    LOC = "E14"| IOSTANDARD = PCI66_3;
NET "PA6"    LOC = "D15"| IOSTANDARD = PCI66_3;
NET "PA7"    LOC = "F15"| IOSTANDARD = PCI66_3;

NET "CTL<0>" LOC = "E13"| IOSTANDARD = PCI66_3;
NET "CTL<1>" LOC = "C16"| IOSTANDARD = PCI66_3;
NET "CTL<2>" LOC = "D16"| IOSTANDARD = PCI66_3;

NET "rstn"   LOC = "D14"| IOSTANDARD = PCI66_3;

NET "PCI_ACK64n" LOC="A23" |IOSTANDARD = PCI66_3;
NET "PCI_AD<0>" LOC="C23" |IOSTANDARD = PCI66_3;
NET "PCI_AD<10>" LOC="E24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<11>" LOC="F24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<12>" LOC="G24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<13>" LOC="H24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<14>" LOC="C25" |IOSTANDARD = PCI66_3;
NET "PCI_AD<15>" LOC="D25" |IOSTANDARD = PCI66_3;
NET "PCI_AD<16>" LOC="AD25" |IOSTANDARD = PCI66_3;
NET "PCI_AD<17>" LOC="W24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<18>" LOC="Y24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<19>" LOC="AA24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<1>" LOC="D23" |IOSTANDARD = PCI66_3;
NET "PCI_AD<20>" LOC="AB24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<21>" LOC="AC24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<22>" LOC="AE24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<23>" LOC="AF24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<24>" LOC="AF23" |IOSTANDARD = PCI66_3;
NET "PCI_AD<25>" LOC="AD22" |IOSTANDARD = PCI66_3;
NET "PCI_AD<26>" LOC="AF22" |IOSTANDARD = PCI66_3;
NET "PCI_AD<27>" LOC="AD21" |IOSTANDARD = PCI66_3;
NET "PCI_AD<28>" LOC="AE21" |IOSTANDARD = PCI66_3;
NET "PCI_AD<29>" LOC="AF21" |IOSTANDARD = PCI66_3;
NET "PCI_AD<2>" LOC="E23" |IOSTANDARD = PCI66_3;
NET "PCI_AD<30>" LOC="AD20" |IOSTANDARD = PCI66_3;
NET "PCI_AD<31>" LOC="AE20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<0>" LOC="C17" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<1>" LOC="D17" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<2>" LOC="E17" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<3>" LOC="F17" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<4>" LOC="G17" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<5>" LOC="A18" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<6>" LOC="B18" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<7>" LOC="D18" |IOSTANDARD = PCI66_3;
NET "PCI_AD<3>" LOC="F23" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<8>" LOC="E18" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<9>" LOC="F18" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<10>" LOC="G18" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<11>" LOC="A19" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<12>" LOC="C19" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<13>" LOC="D19" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<14>" LOC="F19" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<15>" LOC="G19" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<16>" LOC="A20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<17>" LOC="B20" |IOSTANDARD = PCI66_3;
NET "PCI_AD<4>" LOC="G23" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<18>" LOC="C20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<19>" LOC="D20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<20>" LOC="E20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<21>" LOC="F20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<22>" LOC="G20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<23>" LOC="H20" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<24>" LOC="A21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<25>" LOC="B21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<26>" LOC="C21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<27>" LOC="D21" |IOSTANDARD = PCI66_3;
NET "PCI_AD<5>" LOC="H23" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<28>" LOC="E21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<29>" LOC="G21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<30>" LOC="H21" |IOSTANDARD = PCI66_3;
NET "PCI_AD64<31>" LOC="A22" |IOSTANDARD = PCI66_3;
NET "PCI_AD<6>" LOC="A24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<7>" LOC="B24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<8>" LOC="C24" |IOSTANDARD = PCI66_3;
NET "PCI_AD<9>" LOC="D24" |IOSTANDARD = PCI66_3;
NET "PCI_CBE<0>" LOC="G25" |IOSTANDARD = PCI66_3;
NET "PCI_CBE<1>" LOC="W26" |IOSTANDARD = PCI66_3;
NET "PCI_CBE<2>" LOC="AC25" |IOSTANDARD = PCI66_3;
NET "PCI_CBE<3>" LOC="AD23" |IOSTANDARD = PCI66_3;
NET "PCI_CBE64<0>" LOC="D22" |IOSTANDARD = PCI66_3;
NET "PCI_CBE64<1>" LOC="E22" |IOSTANDARD = PCI66_3;
NET "PCI_CBE64<2>" LOC="G22" |IOSTANDARD = PCI66_3;
NET "PCI_CBE64<3>" LOC="H22" |IOSTANDARD = PCI66_3;
NET "PCI_CLK" LOC="C13" |IOSTANDARD = PCI66_3;
NET "PCI_DEVSELn" LOC="AD26" |IOSTANDARD = PCI66_3;
NET "PCI_FRAMEn" LOC="AB25" |IOSTANDARD = PCI66_3;
NET "PCI_GNTn" LOC="AD19" |IOSTANDARD = PCI66_3;
NET "PCI_IDSEL" LOC="AE23" |IOSTANDARD = PCI66_3;
NET "PCI_INTAn" LOC="AF18" |IOSTANDARD = PCI66_3;
NET "PCI_INTBn" LOC="AE18" |IOSTANDARD = PCI66_3;
NET "PCI_IRDYn" LOC="Y25" |IOSTANDARD = PCI66_3;
NET "PCI_PAR64" LOC="C22" |IOSTANDARD = PCI66_3;
NET "PCI_PAR" LOC="Y26" |IOSTANDARD = PCI66_3;
NET "PCI_PERRn" LOC="AB26" |IOSTANDARD = PCI66_3;
NET "PCI_REQ64n" LOC="B23" |IOSTANDARD = PCI66_3;
NET "PCI_REQn" LOC="AF20" |IOSTANDARD = PCI66_3;
NET "PCI_RSTn" LOC="AF19" |IOSTANDARD = PCI66_3;
NET "PCI_SERRn" LOC="AA26" |IOSTANDARD = PCI66_3;
NET "PCI_STOPn" LOC="AC26" |IOSTANDARD = PCI66_3;
NET "PCI_TRDYn" LOC="W25" |IOSTANDARD = PCI66_3;
#################################################
#GOOD 33M
# 1) Clock to Output   = 11 000 ns
# 2) Setup             =  7 600 ns
# 3) Grant Setup       = 10 000 ns
# 4) Datapath Tristate = 28 000 ns
# 5) Period            = 30 000 ns
#GOOD 66M
# 1) Clock to Output   =  6 ns
# 2) Setup             =  3 ns
# 3) Grant Setup       =  5 ns
# 4) Datapath Tristate = 14 ns
# 5) Period            = 15 ns
#CUSTOM
# 1) Clock to Output   =  7.600 ns
# 2) Setup             =  4.000 ns
# 3) Grant Setup       =  4.000 ns
# 4) Datapath Tristate = 14.000 ns
# 5) Period            = 15 000 ns

# D AD
# B CBE
# P PAR 
# C SERR PERR REQ FRAMn IRDY TRDY DEVSLE STOP IDSEL
# G GNTn
#
# TIME CHECK
NET "PCI_CLK" PERIOD = 15.000;
INST "PCI_CBE<*>" TNM = "PCI_CBE_GRP";
INST "PCI_CBE64<*>" TNM = "PCI_CBE_GRP";
INST "PCI_AD<*>" TNM = "PCI_AD_GRP";
INST "PCI_AD64<*>" TNM = "PCI_AD_GRP";

TIMEGRP "PCI_AD_GRP"  OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
TIMEGRP "PCI_CBE_GRP" OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";

NET "PCI_FRAMEn"  OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_IRDYn"   OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_IDSEL"   OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_DEVSELn" OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_TRDYn"   OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_REQn"    OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";
NET "PCI_STOPn"   OFFSET = IN 3.000 VALID 3.000 BEFORE "PCI_CLK";

NET "PCI_GNTn"    OFFSET = IN 5.000 VALID 5.000 BEFORE "PCI_CLK";

NET "PCI_PAR"   OFFSET = IN 7 ns BEFORE "PCI_CLK" ;
NET "PCI_PERRn"   OFFSET = IN 7 ns BEFORE "PCI_CLK" ;
NET "PCI_SERRn"   OFFSET = IN 7 ns BEFORE "PCI_CLK" ;

NET "PCI_FRAMEn"  OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_IRDYn"   OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_IDSEL"   OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_DEVSELn" OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_TRDYn"   OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_REQn"    OFFSET = OUT 6.000 AFTER "PCI_CLK";
NET "PCI_STOPn"   OFFSET = OUT 6.000 AFTER "PCI_CLK";

NET "PCI_GNTn"    OFFSET = OUT 6.000 AFTER "PCI_CLK";

TIMEGRP "PCI_AD_GRP"  OFFSET = OUT 14.000 AFTER "PCI_CLK" ; 
TIMEGRP "PCI_CBE_GRP" OFFSET = OUT 14.000  AFTER "PCI_CLK" ;

NET "PCI_PAR"   OFFSET = OUT 11 ns AFTER "PCI_CLK" ;
NET "PCI_SERRn"   OFFSET = OUT 11 ns AFTER "PCI_CLK" ;
NET "PCI_PERRn"   OFFSET = OUT 11 ns AFTER "PCI_CLK" ;
#
